{% extends 'header&footer.html' %}
{% load static %}
{% block content %}
    <div class="container tm-mt-big tm-mb-big">
      <div class="row">
        <div class="col-xl-9 col-lg-10 col-md-12 col-sm-12 mx-auto">
          <div class="tm-bg-primary-dark tm-block tm-block-h-auto">
            <div class="row">
              <div class="col-12">
                <h2 class="tm-block-title d-inline-block">Edit Product</h2>
              </div>
            </div>
            <div class="row tm-edit-product-row">
              <div class="col-xl-6 col-lg-6 col-md-12">
                <form action="{% url 'edit_products' productdata.id %}" method="post" class="tm-edit-product-form">
                  {% csrf_token %}
                  <div class="form-group mb-3">
                    
                    <label
                      for="name"
                      >Product Name
                    </label>
                    <input
                      id="name"
                      name="name"
                      type="text"
                      value="{{productdata.P_name.P_name}}"
                      class="form-control validate"
                    />
                  </div>
                 
                  <div class="row">
                      <div class="form-group mb-3 col-xs-12 col-sm-6">
                          <label
                            for="expire_date"
                            >Product Model
                          </label>
                          <input
                            id="name"
                            name="model"
                            type="text"
                            value="{{productdata.Model_no}}"
                            class="form-control validate"
                            data-large-mode="true"
                          />
                        </div>
                        <div class="form-group mb-3 col-xs-12 col-sm-6">
                          <label
                            for="stock"
                            >Product RAM
                          </label>
                          <input
                            id="stock"
                            name="ram"
                            type="text"
                            value="{{productdata.P_ram}}"
                            class="form-control validate"
                          />
                        </div>
                  </div>
                  <div class="row">
                    
                      <div class="form-group mb-3 col-xs-12 col-sm-6">
                        <label
                          for="stock"
                          >Product Price
                        </label>
                        <input
                          id="stock"
                          name="price"
                          type="text"
                          value="{{productdata.P_price}}"
                          class="form-control validate"
                        />
                      </div>
                </div>
                
                  
              </div>
              <div class="col-xl-6 col-lg-6 col-md-12 mx-auto mb-4">
                <div class="tm-product-img-edit mx-auto">
                  <img src="{{productdata.P_image.url}}" alt="Product image" class="img-fluid d-block mx-auto">
                  <i
                    class="fas fa-cloud-upload-alt tm-upload-icon"
                    onclick="document.getElementById('fileInput').click();"
                  ></i>
                </div>
                <div class="custom-file mt-3 mb-3">
                  <input id="fileInput" type="file" name="pic" style="display:none;" />
                  <input
                    type="button"
                    class="btn btn-primary btn-block mx-auto"
                    value="CHANGE IMAGE NOW"
                    onclick="document.getElementById('fileInput').click();"
                  />
                </div>
              </div>
              <div class="col-12">
                <button type="submit" class="btn btn-primary btn-block text-uppercase">Update Now</button>
              </div>
            </form>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}